* {
    box-sizing: border-box;
}

:root {
    --neutral: rgb(200, 226, 248);
    --wrong: rgb(242, 171, 171) ;
    --correct: rgb(186, 226, 186); ;
    --main: rgb(125, 162, 218);
    --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0 ;
    font-family: var(--font);
}

h1,
h2 {
    font-weight: bolder;
    padding-bottom: 15px;
}

.container {
    margin-bottom: 25px;
    padding: 25px;
    width: 500px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgb(88, 96, 110) 0 0 10px 2px;
}

.custom-btn {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.custom-btn button {
    border: 1px solid var(--main);
    background-color: var(--neutral);
    border-radius: 5px;
    padding: 3px 10px;
    outline: none;
}
  
.custom-btn button:hover {
    border-color: rgba(8, 42, 166, 0.771);
    background-color: rgb(164, 214, 245);
}

.btn.correct {
    background-color: var(--correct);
}

.btn.wrong {
    background-color: var(--wrong);
}

#start-btn {
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font);
}

#next-btn {
    font-size: 15px;
    font-family: var(--font);
}

.hide {
    display: none;
}

#timer {
    font-size: 20px;
    color: black;
}